/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
  7. Media Queries
======================================== */

/* 1. Global Styles
======================================== */
* {
    --gunmetal: #1C232B;
    --deep-aquamarine: #1A4032;
    --aquamarine: #3D8168;
    --aurometal: #6C7289;
    --cream: #F2EAE2;
    --white: #FFFFFF;
    --heading-font: Fraunces;
    --body-font: Montserrat;
    --font-size: 16px
}

/* 2. Typography Styles
======================================== */
h1, .price {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 2em;
}

h2, p, button {
    font-family: var(--body-font);
}

h1{
    line-height: 32px;
}

h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 5px;
}

p {
    font-size: 0.875em;
    font-weight: 500;
}

h2, .product-description, .old-price {
    color: var(--aurometal)
}

.price {
    color: var(--aquamarine);
}

.old-price {
    font-size: 0.8125em;
    font-weight: 500;
    text-decoration: line-through;
}

button {
    color: var(--white);
    font-weight: 700;
    font-size: 0.875em;
}

/* 3. Structure Styles
======================================== */


/* 4. Modules Styles
======================================== */
/* Site Navigation */
/* Site Footer */
footer {
    padding: 55px 0 15px 0;
}  

footer a {
    color: var(--aquamarine);
    text-decoration: none;
}

footer a:hover {
    color: var(--deep-aquamarine);
    font-weight: bold;
}

/* 5. Component Styles
======================================== */
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--white);
    width: 600px;
    height: 450px;
    border-radius: 10px;
    margin: auto;
    margin-top: 10.9375em;
}

.product-img-desktop {
    width: 300px;
    height: 450px;
    border-radius: 10px 0 0 10px;
}

.product-img-mobile {
    display: none;
}

.product-info {
    padding: 15px 30px 0px 30px;
}

.product-description {
    line-height: 1.4375em;
}

.pricing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.9375em;
}

button {
    width: 236px;
    height: 48px;
    display: flex;
    background-color: var(--aquamarine);
    border-radius: 8px;
    box-shadow: none;
    border: none;
    align-items: center;
    justify-content: center;
}

button svg {
    padding-right: 10px;
}

button:hover {
    background-color: var(--deep-aquamarine);
    cursor: pointer;
}

/* 6. Page Styles
======================================== */
body {
    background-color: var(--cream);
}

/* 7. Media Queries
======================================== */
@media screen and ( max-width: 599px ) {
    .card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 343px;
        height: 611px;
    }

    .product-img-mobile {
        display: block;
        width: 343px;
        height: 240px;
        border-radius: 10px 10px 0 0;
    }

    .product-img-desktop {
        display: none;
    }

    .product-info {
        padding: 10px 20px 0px 20px;
    }

    button {
        width: 295px;
    }

    h1 {
        line-height: 1em
    }

    .price {
        line-height: 0em
    }
  }