/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
  7. Media Queries
======================================== */

/* 1. Global Styles
======================================== */
* {
    --gunmetal: #1C232B;
    --deep-aquamarine: #1A4032;
    --aquamarine: #3D8168;
    --aurometal: #6C7289;
    --cream: #F2EAE2;
    --white: #FFFFFF;
}

/* 2. Typography Styles
======================================== */


/* 3. Structure Styles
======================================== */


/* 4. Modules Styles
======================================== */
/* Site Navigation */
/* Site Footer */

/* 5. Component Styles
======================================== */


/* 6. Page Styles
======================================== */


/* 7. Media Queries
======================================== */